.App {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.activityTable{
  width: 30%;
  margin: auto;
}
  
.note{
  font-size: x-small;
}

.calendarLabel{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-stretch: wider;
  color: brown;
  font-style: bold;
}

.noActivities{
  color: blue;
  font-size: medium;
}

.activities{
  color: darkblue;
  font-size: medium;
}

.modalTitle{
  text-align: center;
  font-size: 28px;
  color: teal;
}

.mainHeading{
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: slateblue;
}

.tableHeading{
  color: darkmagenta;
  font-weight: bold;
}
